@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #181818;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}